html {
  background-color: white;
}

input[type=text]{
width:100%
padding: 12px 20px;	
margin: 8px 0;	
box-sizing:border-box;	
}
img {
  display: block;
  margin: 0 auto;
  align: center;
}


#signature {
  text-align: right;
  color: red;
  font-style: italic;
  font-size: 75%;
}
.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}
