td{
    font-size: 25px;
}
p{
    font-size: 20px;
}
.btn{
    margin-top: 10px;
    margin-bottom: 10px;
}
body{
	background-color:#669900;
  font-family: 'Montserrat', sans-serif;
}
.navbar-brand {
	margin-right: 190px;
  font-family: 'Ubuntu';
  font-size: 2rem;
  font-weight: bold;
}

.navbar {
	z-index: 1;
	background-color:#003300;
    text-align:center;
}

h1 {
  font-family: 'montserrat', sans-serif;
  font-weight: 1000;
  font-size: 2rem;
  line-height: 1;
}

h2 {
  font-family: 'montserrat', sans-serif;
  font-weight: 500;
  line-height: 0.5;
}
#features{
	padding: 7% 15%;
}
.features-box{
text-align:center;
padding-top: 2%;
transition: background-color 3s;
transition: color 3s;
}

.features-box:hover{
background-color:#ADAD5A;
color:#FFF;
}
.footer-basic {
  padding:40px 0;
  background-color:#669900;
  color:#4b4c4d;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
